/* section heading */
.heading {
    background-color: lightgray;
    text-align: center;
}

.counter_time {
    font-weight: 400;
    font-size: 50px;
    color: #ffffff;
}

.counter_content {
    text-align: center;
    padding: 40px 0;
    margin-top: 15px;
    background-color: #a71610;
}



.section {
    padding: 80px 0;
    text-align: center;
}

.error {
    color: red;
}