---
---
.highlight {
  margin: 0 0 20px;
}

.main-content {
  width: 100%;
  padding: 0 5%;
  max-width: 100%;
}

table {
  display: table !important;
  width: 100%;

  tbody {
    tr {
      th {
        width: 33.33%;
      }
    }
  }

  &.options, &.methods, &.events {
    tbody {
      tr {
        th {
          &:nth-child(1) {
            width: 20%;
          }

          &:nth-child(2) {
            width: 15%;
          }

          &:nth-child(3) {
            width: 20%;
          }

          &:nth-child(4) {
            width: 45%;
          }
        }

        td {
          &:nth-child(1) {
            color: #159957;
          }

          .highlight {
            margin-bottom: 0;

            .language-javascript {
              .nx {
                font-weight: bold;
                color: #990000;
              }
            }
          }
        }
      }
    }
  }

  &.events {
    tbody {
      tr {
        th {
          &:nth-child(1) {
            width: 30%;
          }

          &:nth-child(2) {
            width: 20%;
          }

          &:nth-child(3) {
            width: 50%;
          }
        }
      }
    }
  }
}

form[class*=form-] {
  padding: 10px;
  border: 1px solid #d8d8d8;

  .form-row {
    margin-bottom: 10px;

    &.input-valid {
      input, textarea, select {
        box-shadow: 0 0 3px green;
      }
    }

    &.input-invalid {
      input, textarea, select {
        box-shadow: 0 0 3px red;
      }
    }
  }

  [class*=validation-notice] {
    margin-top: 10px;
    color: red;
    font-size: 13px;
  }

  input {
    border: 1px solid #d8d8d8;
    &[type=text], &[type=number] {
      display: block;
      width: 100%;
    }
  }
}

.all-options {
  .highlight {
    .nx {
      color: #990000;
      font-weight: bold;
    }
  }
}